@{
    ViewData["Title"] = "Home Page";
}



<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-4 fw-bold mb-2 mb-md-4">
            ¡Bienvenido a nuestra aplicación de turnos!
        </h1>
        <p class="col-md-12 fs-4">Estamos encantados de que hayas elegido nuestra plataforma para simplificar la forma en que programar tus citas y reservas. Con nuestra aplicación, podrás olvidarte de las largas esperas y la incertidumbre al programar tus compromisos diarios.</p>
        <button class="btn btn-primary btn-lg" type="button">Hacer un turno</button>
    </div>
</div>



